/*
    sorry for the organization of this. was not anticipating the project to get this long.
*/

body {
    background-color: brown;
}

.dock {
    visibility: visible;
    height: 8%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    
    transform: translate(190%, 1100%);
    margin: auto;
    position: absolute;

    border-radius: 12px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.75);
    outline-width: 1px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.about-page {
    position: absolute;
    overflow-y: auto;
    background-color: rgb(255, 255, 255); 
    height: 65%;
    width: 55%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    transform: translate(40%, 20%);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.settings-page {
    position: absolute;
    background-color: rgb(255, 255, 255); 
    height: 65%;
    width: 55%;
    border-radius: 6px;
    margin: auto;
    transform: translate(60%, 40%);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 0;
}

.resume-page {
    position: absolute;
    background-color: rgb(255, 255, 255); 
    height: 65%;
    width: 55%;
    max-height: 65%;
    border-radius: 6px;
    margin: auto;
    transform: translate(55%, 35%);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
}

.contacts-page {
    position: absolute;
    background-color: rgb(255, 255, 255); 
    height: 65%;
    width: 55%;
    border-radius: 6px;
    margin: auto;
    transform: translate(50%, 30%);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
}

.files-page {
    position: absolute;
    background-color: rgb(255, 255, 255); 
    height: 65%;
    width: 55%;
    border-radius: 6px;
    margin: auto;
    transform: translate(45%, 25%);
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
}

#about-pageheader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    z-index: 10;
    background-color: #f6f6f6;
}

#settings-pageheader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    z-index: 10;
    background-color: #f6f6f6;
}

#resume-pageheader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    z-index: 10;
    background-color: #f6f6f6;
}

#contacts-pageheader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    z-index: 10;
    background-color: #f6f6f6;
}

#files-pageheader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    z-index: 10;
    background-color: #f6f6f6;
}

.red-button-about {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 100, 100);
    border-radius: 8px;
    transform: translate(90%, 110%);
}

.yellow-button-about {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 200, 100);
    border-radius: 8px;
    transform: translate(240%, 10%);
}

.green-button-about {
    height: 15px;
    width: 15px;
    background-color:rgb(114, 243, 100);
    border-radius: 8px;
    transform: translate(390%, -90%);
}

#red-button-about:hover {
    filter: brightness(90%);
}

#red-button-about:active {
    filter: brightness(50%);
}

#yellow-button-about:hover {
    filter: brightness(90%);
}

#yellow-button-about:active {
    filter: brightness(50%);
}

#green-button-about:hover {
    filter: brightness(90%);
}

#green-button-about:active {
    filter: brightness(50%);
}



.red-button-settings {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 100, 100);
    border-radius: 8px;
    transform: translate(90%, 110%);
}

.yellow-button-settings {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 200, 100);
    border-radius: 8px;
    transform: translate(240%, 10%);
}

.green-button-settings {
    height: 15px;
    width: 15px;
    background-color:rgb(114, 243, 100);
    border-radius: 8px;
    transform: translate(390%, -90%);
}

#red-button-settings:hover {
    filter: brightness(90%);
}

#red-button-settings:active {
    filter: brightness(50%);
}

#yellow-button-settings:hover {
    filter: brightness(90%);
}

#yellow-button-settings:active {
    filter: brightness(50%);
}

#green-button-settings:hover {
    filter: brightness(90%);
}

#green-button-settings:active {
    filter: brightness(50%);
}


.red-button-resume {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 100, 100);
    border-radius: 8px;
    transform: translate(90%, 110%);
}

.yellow-button-resume {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 200, 100);
    border-radius: 8px;
    transform: translate(240%, 10%);
}

.green-button-resume {
    height: 15px;
    width: 15px;
    background-color:rgb(114, 243, 100);
    border-radius: 8px;
    transform: translate(390%, -90%);
}

#red-button-resume:hover {
    filter: brightness(90%);
}

#red-button-resume:active {
    filter: brightness(50%);
}

#yellow-button-resume:hover {
    filter: brightness(90%);
}

#yellow-button-resume:active {
    filter: brightness(50%);
}

#green-button-resume:hover {
    filter: brightness(90%);
}

#green-button-resume:active {
    filter: brightness(50%);
}



.red-button-contacts {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 100, 100);
    border-radius: 8px;
    transform: translate(90%, 110%);
}

.yellow-button-contacts {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 200, 100);
    border-radius: 8px;
    transform: translate(240%, 10%);
}

.green-button-contacts {
    height: 15px;
    width: 15px;
    background-color:rgb(114, 243, 100);
    border-radius: 8px;
    transform: translate(390%, -90%);
}

#red-button-contacts:hover {
    filter: brightness(90%);
}

#red-button-contacts:active {
    filter: brightness(50%);
}

#yellow-button-contacts:hover {
    filter: brightness(90%);
}

#yellow-button-contacts:active {
    filter: brightness(50%);
}

#green-button-contacts:hover {
    filter: brightness(90%);
}

#green-button-contacts:active {
    filter: brightness(50%);
}



.red-button-files {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 100, 100);
    border-radius: 8px;
    transform: translate(90%, 110%);
}

.yellow-button-files {
    height: 15px;
    width: 15px;
    background-color:rgb(243, 200, 100);
    border-radius: 8px;
    transform: translate(240%, 10%);
}

.green-button-files {
    height: 15px;
    width: 15px;
    background-color:rgb(114, 243, 100);
    border-radius: 8px;
    transform: translate(390%, -90%);
}

#red-button-files:hover {
    filter: brightness(90%);
}

#red-button-files:active {
    filter: brightness(50%);
}

#yellow-button-files:hover {
    filter: brightness(90%);
}

#yellow-button-files:active {
    filter: brightness(50%);
}

#green-button-files:hover {
    filter: brightness(90%);
}

#green-button-files:active {
    filter: brightness(50%);
}


#web-icon:hover {
    filter: brightness(90%);
    scale: 110%;
}

#web-icon:active {
    filter: brightness(50%);
}

#folder-icon:hover {
    filter: brightness(90%);
    scale: 110%;
}

#folder-icon:active {
    filter: brightness(50%);
}

#contacts-icon:hover {
    filter: brightness(90%);
    scale: 110%;
}

#contacts-icon:active {
    filter: brightness(50%);
}

#resume-icon:hover {
    filter: brightness(90%);
    scale: 110%;
}

#resume-icon:active {
    filter: brightness(50%);
}

#settings-icon:hover {
    filter: brightness(90%);
    scale: 110%;
}

#settings-icon:active {
    filter: brightness(50%);
}

#dock:hover {
    scale: 101%;
    position: absolute;
    top: 2px;
    left: 4px;
}

h1 {
    margin-left: 37px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-left: 37px;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    max-width: 350px;
    display: inline-block;
}

/* img {
    width: 15%;
    height: auto;
    margin-left: 8px;
    margin-top: 4px;
} */

.web_icon {
    width: 15%;
    margin-left: 14px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.folder_icon {
    width: 15%;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.contacts_icon {
    width: 15%;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.resume_icon {
    width: 15%;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.settings_icon {
    width: 15%;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.profile_photo {
    width: 175px;
    display: block;
    margin-left: 90%;
    margin-top: 10%;
    margin-right: 10%;
}

.column {
    float: left;
}
.row {
    display: flex;
}


.dark-theme {
    height: 20px;
    width: 20px;
    background-color: rgb(30, 39, 50);
    border-radius: 12px;
    transform: translate(60%, 20%);
    display: inline-block;
    outline: 2px solid black;
}

#dark-theme:hover {
    filter: brightness(90%);
}

#dark-theme:active {
    filter: brightness(50%);
}

.light-theme {
    height: 20px;
    width: 20px;
    background-color:rgb(250, 250, 250);
    border-radius: 12px;
    transform: translate(120%, 20%);
    display: inline-block;
    outline: 2px solid black;
}

#light-theme:hover {
    filter: brightness(90%);
}

#light-theme:active {
    filter: brightness(50%);
}

.red-background {
    height: 20px;
    width: 20px;
    background-color:brown;
    border-radius: 12px;
    transform: translate(60%, 20%);
    display: inline-block;
    outline: 2px solid black;
}

#red-background:hover {
    filter: brightness(90%);
}

#red-background:active {
    filter: brightness(50%);
}

.green-background {
    height: 20px;
    width: 20px;
    background-color:seagreen;
    border-radius: 12px;
    transform: translate(120%, 20%);
    display: inline-block;
    outline: 2px solid black;
}

#green-background:hover {
    filter: brightness(90%);
}

#green-background:active {
    filter: brightness(50%);
}

.blue-background {
    height: 20px;
    width: 20px;
    background-color:steelblue;
    border-radius: 12px;
    transform: translate(180%, 20%);
    display: inline-block;
    outline: 2px solid black;
}

#blue-background:hover {
    filter: brightness(90%);
}

#blue-background:active {
    filter: brightness(50%);
}

object {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    max-height: 340px;
}

.circle-contact {
    background-color:rgb(176, 176, 176);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
    margin: auto;
    
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);

}

header {
    background:rgb(255, 255, 255);
    width: 100%;
    height: 30px;
}

.line1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background:rgb(255, 255, 255);
    width: auto;
    height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    text-indent: 25px;
}

.line2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background:rgb(244, 244, 244);
    width: auto;
    height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    text-indent: 25px;
}

a {
    text-decoration: none;
    color: black
}